* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/neue-machina-regular.otf');
}

body {
  background-color: #000;
  color: #fff;
  background-color: #00357b;

  background-image: url(../img/background.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}


::-webkit-scrollbar {
  width: 0;
  height: 0;
}

main {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 95vw;
  /* background-image: url(../img/background.png); */
}


section {
  margin: 1rem 0;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 95%;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

li .title,
li .period {
  display: flex;
  align-items: center;
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
  text-align: start;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

a {
  color: #ffffffaa;
  text-decoration: none;
  overflow-wrap: anywhere;
  padding-left: 2.2rem;
}

a:hover {
  text-decoration: underline;
}


@media only screen and (min-width: 600px){
  main {
    min-width: 506px;
    max-width: 90vw;
    margin: 1rem auto;
    border: 1px solid #fff;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1024px){
  main {
    max-width: 70vw;
  }

  @media only screen and (min-width: 1440px){
    main {
      max-width: 65vw;
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 70%;
	}
	50% {
		background-position: 100% 30%;
	}
	100% {
		background-position: 0% 70%;
	}
}
